In [38]:
import numpy as np 
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression  
from sklearn.metrics import mean_squared_error

In [39]:
wt_at=pd.read_csv("C:\\Users\\Hello\\Desktop\\pandas\\wc-at.csv")

In [40]:
wt_at.head()

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84

In [41]:
#collecting the data 
X=wt_at["Waist"].values
Y=wt_at["AT"].values

In [43]:
#check the length of variable
m=len(X)

In [48]:
X=X.reshape((m,1))
# Model Intialization
reg=LinearRegression()
# Data Fitting
reg=reg.fit(X,Y)
# Y Prediction
y_pred=reg.predict(X)

In [49]:
#evalution of model 
rmse=np.sqrt(mean_squared_error(Y,y_pred))
print("rmse=",rmse)
r2=reg.score(X,Y)
print("r2_score=",r2)

rmse= 32.760177495755144
r2_score= 0.6700368930528429